body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    width: 960px;
    font-size: 18px;
    background-color: #777;
    text-align: center;
    
    
    }

header, nav {
    background: #ebebeb;
    width: 92%;
    height: 25px;
    margin: .5% 2%;
    padding: 2%;
    float: left;
    }



section{
    background: #ebebeb;
    position: relative;
    margin: 2%;
    padding: 2%;
    width: 51%;
    height: 250px;
    float: left;
}

article{
    color: #ebebeb;
    background: #777;
    position: absolute;
    width: 80%;
    height: 165px;
    margin: 10% 1px 10% -6px;
    padding: 10px 40px;
}

#item{
    color: #777;
    background: #ebebeb;
    width: 100%;
    height: 30px;
    margin: 2% 1px 2px -7px;
    padding: 10px;
    float: left;
}

aside{
    background: #ebebeb;
    margin: 2%;
    padding: 2%;
    width: 33%;
    height: 250px;
    float: left;
}

footer{
    background: #ebebeb;
    float: left;
    clear: both;
    width: 92%;
    height: 25px;
    margin: .5% 2%;
    padding: 2%;
}



